# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hardhat
artifacts/
cache/

# Go
bin/
*.exe
*.out
*.test

# Env / secrets
.env

# OS
.DS_Store

# Frontend build
dist/

# Temp files
tmp/
